fastapi==0.123.8
pydantic==2.12.5
email-validator==2.2.0
python-dotenv==1.2.1
SQLAlchemy==2.0.44
psycopg2-binary==2.9.11
uvicorn[standard]==0.38.0
typing-inspection==0.4.2
pyjwt==2.8.0
passlib[bcrypt]==1.7.4